.listing {
    max-width: 200px;
}

.listing .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #f9fad2;
    color: #79451d;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 30px 0 0 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.15s ease-out;
}

.listing .pokemon:hover {
    transform: scale(1.05);
}

.listing .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listing .pokemon span {
    padding-right: 20px;
}

.listing .pokemon.active {
    background-color: #79451d;
    color: #f9fad2;
}